/* reset */
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    background: #eff0f4;
}
/* main */
header {
    padding: 0 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    background: #5fc0cd;
    color:white;
}
header a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.head-left {
    float: left;
}
.head-right {
    float: right; 
}
header h2 {
    text-align: center;
    margin: 0;
}
main {
    height: 21.5rem;
    overflow: hidden;
}
form {
    height: 19rem;
}
input, button {
    display: block;
    margin: 1rem 0;
    width: 100%;
    height: 5rem;
    border: 0;
}
.mobile {
    background-image: url(images/mobile.png);
    background-repeat: no-repeat;
    background-size: 6rem;
    padding-left: 10rem;
}
.lock {
    background-image: url(images/lock.png);
    background-repeat: no-repeat;
    background-size: 6rem;
    padding-left: 10rem;
}
button {
    background: #5fc0cd;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
}
.tip {
    display: block;
    text-align: right;
    padding-right: 1rem;
    color: #5fc0cd;
}