/* reset */
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    color: white;
    background: #68cdd5;
}
/* .wrap {
    padding: 0 15% 0 15%;
} */
.back-button {
    /* position: absolute;
    left: 1rem;
    top: 1rem; */
    width: 2.7rem;
    height: 2.7rem;
    margin: 1rem 0 0 1rem;
    background-image: url("images/arrow_03.png");
    background-size: 2.7rem;
}
.title {
    width: 100%;
    text-align: center;
}
.title > img {
    max-width: 12rem; 
}
.content {
    line-height: 9rem;
    text-align: center;
}
.footer {
    clear: both;
    height: 30rem;
}
.footer-right {
    float: right;
    width: 50%;
    text-align: center;
}
.game-logo {
    margin: 0 auto;
    width: 9rem;
    height: 9rem;
    background-image: url("images/gamelogo_15.png");
    background-repeat: none;
    background-size: 100%;
}
.footer-left {
    float: left;
    width: 50%;
    text-align: center;
}
.user-logo {
    margin: 0 auto;
    width: 9rem;
    height: 9rem;
    background-image: url("images/userlogo_13.png");
    background-repeat: none;
    background-size: 100%;
}